h1 {
  text-align: center;
  color: #190064;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.line {
  width: 90px;
  height: 5px;
  background-color: #c29856;
  margin: auto;
}
.btnContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}
.btnContainer button {
  border: 2px solid #c29856;
  border-radius: 10px;
  background-color: transparent;
  padding: 10px 20px;
  cursor: pointer;
  color: #c29856;
  font-weight: 600;
}
img {
  max-width: 300px;
  height: 200px;
  border-radius: 10px;
  margin-left: 20px;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.item-container {
  display: flex;
  margin-top: 30px;
  margin-right: 10px;
}
.menu-details {
  margin-left: 1rem;
  display: flex;
  gap: 16px;
}
.price {
  font-size: 18px;
  color: #c29856;
}
.item-name {
  font-size: 18px;
  color: #190064;
  letter-spacing: 2px;
}
hr {
  margin-left: 1rem;
  margin-top: 0px;
}
.item-text {
  margin-left: 20px;
  color: #190064;
  font-weight: 400;
  font-family: Georgia, "Times New Roman", Times, serif;
}

@media only screen and (max-width: 1075px)
{
    .section-center{
        grid-template-columns: 1fr;
    }
    img{
        margin-left: 2px;
    }
}

@media only screen and (max-width: 470px)
{
    .btnContainer button{
        padding: 5px 10px;  
        margin-top: 1rem;
        
    }
    .btnContainer{
        gap: 10px;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
}


